@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to iHotel</h1>
</div>

    <img src="~/image/homepage.jpg"
         srcset="~/image/homepage320.jpg 320w, ~/image/homepage640.jpg 640w, ~/image/homepage.jpg 1024w"
         sizes="(max-width:320px) 240px, (max-width:640px) 600px, 1024px" />


<div class="row">
    <div class="col-md-4">
        
        <h2>About us</h2>
        <p>
            Those travelling to Melbourne Australia on business or for pleasure, and who are looking for accommodation will find our hotel exceeds expectations when it comes to hospitality services, convenient amenities and ultimate comfort.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Our rooms</h2>
        <p>There are many types of rooms.</p>

    </div>

    <div class="col-md-4">
        <h2>Start Booking</h2>
        <p>You can easily create a new booking.</p>

    </div>
</div>
